body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f8ff;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
h2 {
    color: #0056b3;
}
p, h3 {
    color: #333;
}
ul {
    list-style-type: none;
    padding: 0;
}
ul li {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
}
#connectButton, #payButton {
    background-color: #0056b3;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
#connectButton:hover, #payButton:hover {
    background-color: #003f7f;
}
#status {
    margin-top: 10px;
    font-size: 14px;
    color: #ff0000;
}
form {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}
.form-group {
    margin-bottom: 1em;
}
label {
    display: block;
    margin-bottom: 0.5em;
    font-weight: bold;
    color: #333;
}
input, select {
    width: 100%;
    padding: 0.5em;
    border: 1px solid #ddd;
    border-radius: 5px;
}
